.helloImJishnueAHighSchoo {
  position: absolute;
  top: -4px;
  left: -34px;
  border-radius: 50%;
  background: linear-gradient(136.93deg, #d100f3, #002bc5);
  width: 116px;
  height: 116px;
  display: flex;
}
.helloImJishnueAHighSchoo:hover {
  background: linear-gradient(136.93deg, #d100f3, #002bc5);
  display: flex;
  width: 116px;
  height: 116px;
}
.reviewStars {
  position: absolute;
  top: -55px;
  left: 28px;
  border-radius: 50%;
  background: linear-gradient(
    136.93deg,
    rgba(209, 0, 243, 0.25),
    rgba(0, 43, 197, 0.25)
  );
  width: 116px;
  height: 116px;
  display: flex;
  z-index: 1;
}
.reviewStars:hover {
  background: linear-gradient(
    136.93deg,
    rgba(209, 0, 243, 0.25),
    rgba(0, 43, 197, 0.25)
  );
  display: flex;
  width: 116px;
  height: 116px;
}
.reviewEntry {
  align-self: stretch;
  height: 112px;
  position: relative;
  display: flex;
  width: auto;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.reviewEntry:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: 112px;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.fullName {
  position: relative;
  display: flex;
  min-width: 70;
  width: auto;
  align-self: unset;
  height: auto;
}
.fullName:hover {
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  text-align: left;
  color: var(--color-darkgray-300);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 70;
}
.reviewerName {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xl);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.reviewerName:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-8xl);
  box-sizing: border-box;
}
.brandPlaceholder {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  height: auto;
  transform: rotate(0deg);
}
.brandPlaceholder:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.addReview {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.addReview:hover {
  font-weight: 600;
  font-family: var(--font-poppins);
  font-size: var(--heading-heading-3-size);
  text-align: left;
  color: var(--color-black);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.addReviewButton {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-54xl) 0px 0px;
  box-sizing: border-box;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  font-size: var(--heading-heading-3-size);
  color: var(--color-black);
}
.addReviewButton:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-54xl) 0px 0px;
  box-sizing: border-box;
}
.logoPlaceholder {
  width: 336px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: calc(100% - 44px);
  height: auto;
  transform: rotate(0deg);
}
.logoPlaceholder:hover {
  display: flex;
  width: 336px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-31xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: calc(100% - 44px);
}
.iconoircancel {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  gap: var(--gap-0);
}
.iconoircancel:hover {
  display: flex;
  width: 24px;
  height: 24px;
  gap: var(--gap-0);
}
.closeButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) 0px 0px;
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.closeButton:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-2xl) 0px 0px;
  box-sizing: border-box;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  width: auto;
  height: auto;
  transform: rotate(0deg);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-300);
  font-family: var(--font-poppins);
}
.header:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: space-between;
  transform: rotate(0deg);
  max-width: 100%;
}

@media screen and (max-width: 450px) {
  .addReview {
    font-size: var(--font-size-lgi);
  }

  .logoPlaceholder {
    gap: var(--gap-6xl);
  }
}
